<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>chart</title>
		<link rel="stylesheet" href="/stylesheets/flower.css" type="text/css"/>
		<link rel="stylesheet" href="/stylesheets/demo.css">
		 <link rel="stylesheet" href="/stylesheets/style.css" media="screen" type="text/css" />
	</head>
	<body id="chart">
		<script type="text/javascript" src="/javascripts/flower.js"></script>
		<!--<script type="text/javascript" src="data.js"></script>-->
<div id="control">
	<div id="container">

		<div style="text-align:center;clear:both;">
			<div id="dock-wrapper">
				<div class="item">
					<img src="/images/lian.gif" width="60" id="img1"/>
					<img src="/images/ref_03.gif" width="60" id="img2"/>
					<img src="/images/shui.gif" width="60" id="img3" />
					<img src="/images/light_icon_07.gif" width="60"  id="img4"/>
					<img src="/images/plex.png" width="60" />
					<img src="/images/maps.png" width="60" />
				</div>
				<div class="dock">
					<div class="dock-front">
						<img src="/images/arrow-down.png" alt="Arrow Up" id="arrow-up" />
					</div>
					<div class="dock-top">
						<img src="/images/arrow-up.png" alt="Arrow Down" id="arrow-down" />
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="menuHolder">
	<div class="menuWindow">
		<ul class="p1">
			<li class="s1" id='click'><a href="#url">Menu</a>
				<ul class="p2" id="ul_1">
					<li class="s2"><a href="/chart?name='back'" class="la" name="back"><span>退出</span></a></li>
				
				</ul>
			</li>
		</ul>
	</div>
</div>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									
			<h1>IOTGService</h1>
</div>
	<div id="line">
		<script src="/javascripts/d3.v3.min.js"></script>

        <script src="/javascripts/index.js"></script>
	</div>
	<from method="get">																																																																																																																				
	<input id="date1" type="datetime-local" value="2016-09-01T00:00" name="date1"/>
	<input id="date2" type="datetime-local" value="2016-09-01T23:59" name="date2"/>
	<input id="search" type="button" value="查询"  onclick="c()"/>
	</from>
	<div id="his">
		
		<ul class="lis" id="lis">
			<li class="list">2016-05-04 12:00 30% </li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-05-04 12:00 30% </li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-05-04 12:00 30% </li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-05-04 12:00 30% </li>
			<li>2016-06-06 23:00 50%</li>
			<li>2016-06-06 23:00 50%</li>
		</ul>
		
	</div>
	
	
<script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery-1.7.2.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/demo.js"></script>
  <script src="/javascripts/modernizr.custom.34807.js"></script>
	</body>
</html>
