<!DOCTYPE html>
<html>
  <head>
    <title><%= user %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>index</h1>
    <p>Welcome to <%= gateNum %></p>
  </body>
</html>
