<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>registerter</title>
<link rel="stylesheet" href="/stylesheets/flower.css" type="text/css"/>
</head>

<body>
<script type="text/javascript" src="/javascripts/flower.js"></script>
<div id="register1">
<a href="login"><img src="/images/register_home.gif" width="428px" heigth="221px" alt="r_home"/></a>

<form  name="formregister" method="post" action="/register">
<p>
    <label></label><input id="r_user" type="text"  placeholder="USERNAME" name="tuser"/>
</p>
<p>
    <label></label><input id="r_pass" type="password" placeholder="PASSWORD" name="tpass" />
     <label></label><input id="key" type="password" placeholder="GATEID" name="gateid" />
</p>
<p>
<input  class="sign" type="submit" value="LOGIN"/> 
</p>
</form>
</div>
</body>
</html>
